body {
    margin: 0;
    padding: 0;
    background: url('../images/rain_background.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.content {
    background: rgba(255, 255, 255, 0.9);
    width: 60%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 20px 0; /* Add margin to the top and bottom for spacing */
}

h1, p {
    margin: 0 0 20px;
}

h1 {
    margin-top: 0; /* Ensure the top margin of h1 is 0 */
}

p {
    margin-bottom: 20px; /* Add some space at the bottom of each paragraph */
}

@media (max-width: 768px) {
    .content {
        width: 90%; /* Make the content box wider on mobile */
        padding: 10px; /* Reduce padding on mobile */
    }
}
